<div class="container">
    <div class="search-container">
        <div class="search-group">
            <div class="item-group search">
                <h2>Title:</h2>
                <input type="text" [(ngModel)]="trailersResponse?.context.title">
            </div>
            <div class="item-group">
                <h4>Category:</h4>
                <select [(ngModel)]="trailersResponse?.context.category" class="extra">
                    <option value="">-----------</option>
                    <option [value]="item.id" *ngFor="let item of categories">{{item.name}}</option>
                </select>
            </div>
            <div class="item-group">
                <h4>From:</h4>
                <input type="date" class="extra" [(ngModel)]="trailersResponse?.context.from">
            </div>
            <div class="item-group">
                <h4>To:</h4>
                <input type="date" class="extra" [(ngModel)]="trailersResponse?.context.to">
            </div>
            <div class="item-group btn-container">
                <button class="normal-btn" (click)="search()">Search</button>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 20px;" *ngIf="loading">
        <h1>
            Loading...
        </h1>
    </div>
    <ng-container *ngIf="!loading">
        <div class="trailers-container">
            <div class="trailers">
                <div class="trailer-card" *ngFor="let trailer of trailersResponse?.trailers" (click)="details(trailer.id)">
                    <img [src]="trailer.image">
                    <h4>{{trailer.title}}</h4>
                </div>
            </div>
        </div>
        <span class="pagintator-container">
            <span *ngIf="trailersResponse?.context.has_previous">
                <a (click)="first()">&laquo; first</a>
                <a (click)="previous()">previous</a>
            </span>
            <span class="current">
                Page <span>{{trailersResponse?.context.page}}</span> of <span>{{trailersResponse?.context.num_pages}}</span>
            </span>
            <span *ngIf="trailersResponse?.context.has_next">
                <a (click)="next()">next</a>
                <a (click)="last()">last &raquo;</a>
            </span>
        </span>
    </ng-container>
</div>
