<nav>
    <img src="assets/img/logo.svg" alt="Logo">
    <ul>
        <li><a routerLink="" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}"><span class="word">Home</span><span class="icon"><i class="fa-solid fa-house"></i></span></a></li>
        <li><a href="#"><span class="word">Explore</span><span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span></a></li>
        <li><a href="#"><span class="word">My account</span><span class="icon"><i class="fa-solid fa-user"></i></span></a></li>
        <li><a href="#"><span class="word">LogIn/SignUp</span><span class="icon"><i class="fas fa-user-plus"></i></span></a></li>
    </ul>
</nav>
<div class="nav-separator"></div>
