.container{
    padding: 40px 20px 0;
    display: flex;
    justify-content: center;
}

form{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: var(--black);
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    
}

.top{
    display: flex;
}
.top div{
    padding: 5px 0;
    font-weight: 500;
    color: var(--green);
    width: 100%;
    text-align: center;
    font-size: 25px;
    transition: all 0.3s ease;
}
.top div.hide{
    background-color: var(--gray);
    cursor: pointer;
}

.bottom{
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0;
}

.input-group{
    margin: 5px 0;
    font-size: 18px;
    color: hsl(0, 0%, 90%);
}
.input-group input{
    all: unset;
    color: hsl(0, 0%, 70%);
    width: 100%;
    padding: 0px 10px;
    font-size: 16px;
    background-color: var(--black);
    border-bottom: 2px solid var(--green);
    box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
    transition: all 0.3s ease;
}
.input-group input:focus{
    border-color: #1F51FF;
}
.input-group p{
    margin-left: 0px;
}
.input-group .error{
    margin-left: 3px;
    color: red;
    font-size: 14px;
}
.input-group.hide{
    display: none;
}
/* .bottom input{
    all: unset;
    padding: 5px 10px;
    margin: 20px 0;
    border: 2px solid hsl(0, 0%, 6%);
    border-radius: 5px;
    transition: all 0.3s ease;
}
.bottom input:focus{
    border-color: var(--green);
}

.bottom .danger{
    margin: -15px 10px 0;
    font-size: 20px;
    font-weight: 300;
    color: red;
} */

.bottom .btn {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.bottom .btn.hide, .bottom input.hide{
    display: none;
}
