<div class="container">
    <div class="top-container">
        <div class="top">
            <div class="img-container">
                <img [src]="trailer.image">
            </div>
            <div class="info">
                <h2>{{trailer.title}}</h2>
                <h4>{{trailer.release_date}}</h4>
                <h4>/<span *ngFor="let category of trailer.category">{{category.name}}/</span></h4>
                <h4>Cast: <br>{{trailer.cast}}</h4>
                <h4>Description:</h4>
                <p>{{trailer.description}}</p>
            </div>
        </div>
    </div>
    <div class="trailer-container"><div class="iframe-container">
        <iframe  [src]="'https://www.youtube.com/embed/'+trailer.trailerUrl | safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div></div>
</div>