/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root{
  --green: hsl(102, 49%, 51%);
  --black:hsl(0, 0%, 9%);
  --gray:hsl(0, 0%, 11%);
  --gray-lighter: hsl(0, 0%, 80%);
}
/*hsl(250, 69%, 61%)*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    color: white;
    background: var(--gray);
    min-height: 100vh;
    position: relative;
  padding-bottom: 100px;
}

.normal-btn {
  text-decoration: none;
  background-color: var(--green);
  border-radius: 8px;
  border-style: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  padding: 10px 16px;
  margin: 5px 10px;
  transition: all 0.3s ease;
}

.normal-btn:hover {
  background-color: hsl(102, 49%, 63%);
}
@media (max-width: 905px) {
  body{
    padding-bottom: 150px;
  }
}
