<div class="container">
    <div class="form-container">
        <div class="top">
            <div><span>My account</span></div>
        </div>
        <div class="bottom">
            <div class="input-group">
                <p>Username:</p>
                <p class="error"></p>
                <input type="text">
            </div>
            
            <div class="input-group">
                <p>First name:</p>
                <p class="error"></p>
                <input type="text">
            </div>
            <div class="input-group">
                <p>Last name:</p>
                <p class="error"></p>
                <input type="text">
            </div>
            <div class="btn" >
                <button class="normal-btn">Login</button>
            </div>
        </div>
        <div class="top">
            <div><span>Change password</span></div>
        </div>
        <div class="bottom">
            <div class="input-group">
                <p>Old password:</p>
                <p class="error"></p>
                <input type="text">
            </div>
            <div class="input-group">
                <p>New password:</p>
                <p class="error"></p>
                <input type="text">
            </div>
            <div class="input-group">
                <p>Confirm password:</p>
                <p class="error"></p>
                <input type="text">
            </div>
            <div class="btn" >
                <button class="normal-btn">Login</button>
            </div>
        </div>
    </div>
</div>